# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*/__pycache__/
*\__pycache__\
# Virtual environments
venv/
.env/
.env.*
.venv/
ENV/

# =========================
# Packaging / build
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Testing / coverage
# =========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Secrets
# =========================
*.env
.env.local
.env.dev
.env.prod

# =========================
# Databases
# =========================
*.sqlite3
*.db

# =========================
# FastAPI / Flask extras
# =========================
instance/
*.pem
*.key
*.pyc